# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.sdf
*.opensdf
*.opendb
*.tlog
*.log
*.idb
*.pdb
*.txt
*.ilk
*.db

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.iobj
*.ipdb
*.cache
*.cd
